@{
	ViewData["Title"] = "Newsletter";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


@model SonOfCod.Models.Newsletter

<h2>Sign Up</h2>
<hr />
@using (Html.BeginForm())
{
	@Html.LabelFor(model => model.Name)
	@Html.EditorFor(model => model.Name)

	@Html.LabelFor(model => model.Email)
	@Html.EditorFor(model => model.Email)

	<input type="submit" value="Create" />
}
@Html.ActionLink("Back to List", "Index")
