@model SonOfCod.Models.Newsletter
@{
	ViewData["Title"] = "Subscribe";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>@ViewData["Message"]</h3>




<h2>Sign Up</h2>
<hr />
@using (Html.BeginForm("Subscribe", "Newsletter", FormMethod.Post))
{
	@Html.LabelFor(model => model.Name)
	@Html.EditorFor(model => model.Name)

	@Html.LabelFor(model => model.Email)
	@Html.EditorFor(model => model.Email)

	<input type="submit" value="Create" />
}

@Html.ActionLink("Back to Home", "Index")
